.hi {
    text-align: center;
    margin-top: 2rem;
    font-size: .9rem;
    color: #202020;
}

.select {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 auto;
}

.select a {
    color: #202020;
    padding: .45rem .75rem;
    border-radius: .6rem;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid rgb(155, 155, 155);
}

.select a:hover {
    background: rgb(123, 123, 123);
    border: 1px solid #fff!important;
    color: #fff;
}